#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.flashcard {
  margin: 20px auto;
  width: 400px;
  height: 200px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.flashcard:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.flashcard:active {
  transform: scale(0.95);
}

h1, h2 {
  text-align: center;
}

button {
  margin: 10px;
  cursor: pointer;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
    color: black;
}

.red {
    background-color: red;
}


body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

